@import "./reset.scss";
@import url("https://fonts.googleapis.com/css?family=Acme&display=swap");

html {
  box-sizing: border-box;
  font-family: "Acme", sans-serif;
  color: black;
}

body {
  line-height: 1.4;
}

img {
  max-width: 100%;
}

#root {
  display: grid;
}

.font_roboto {
  font-family: "Roboto", sans-serif;
}
