@mixin container() {
  display: grid;
  grid-auto-columns: 100%;
  grid-gap: 50px;
  font-family: "Acme", sans-serif;
}

@mixin firstSectionBox($isOpacity) {
  min-height: 400px;
  background-image: url("../../images/Ozen_Sushi/Appetizer/Yakitori.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 60%;
  box-shadow: 17px 21px 28px -15px rgba(0, 0, 0, 0.66);
  color: white;
  @if ($isOpacity) {
    opacity: 0.5;
  }
}

@mixin fontSize_fontWeight($fontSize, $fontWeight) {
  font-size: $fontSize;
  font-weight: $fontWeight;
}

@mixin Ozen_Font($fontSize, $fontWeight) {
  span.OZen {
    font-family: "Acme", sans-serif;
    font-size: $fontSize;
    font-weight: $fontWeight;
  }
}

@mixin Korean_And_Japanese_Font($fontSize, $fontWeight) {
  span.korean_japanese,
  .footer__information__navList__ul__li {
    font-size: $fontSize;
    font-weight: $fontWeight;
    margin-left: 20px;
  }
}
