// Do not use dash(-). Instead, use underscore(_)
@import url("https://fonts.googleapis.com/css?family=Pacifico|Rock+Salt");

section {
  height: 100%;
}
body {
  color: #fff;
  text-align: center;

  height: 100%;
}

.container_initPage {
  display: flex;
}
.leftside {
  background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(255, 255, 225, 0.1)),
    url(../../images/Ozen_sushi_Logo.jpg);
  background-size: cover;
  background-position: center;
  flex: 1;
  padding: 1rem;
  transition: all 0.2s ease-in-out; // Animation
  h1 {
    font-family: "Rock Salt", cursive;
    font-size: 6rem;
  }
}
// Animation
.leftside:hover {
  transform: scale(0.95);
}

.rightside {
  background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(164, 222, 102, 0.1)),
    url(../../images/Ozen_korea_logo.jpg);
  background-size: cover;
  background-position: center;
  flex: 1;
  padding: 1rem;
  transition: all 0.2s ease-in-out; // Animation
  h1 {
    font-family: "Pacifico", cursive;
    font-size: 6rem;
  }
}
// Animation
.rightside:hover {
  transform: scale(0.95);
}
.ozenSushi_button {
  border-radius: 30px;
  color: #ffff;
  background-color: #fcad26;
  padding: 1.5%;
  margin: 0 2%;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.3s;
  width: 150px;
}
// Animation
.ozenSushi_button:hover {
  background: #fcc567;
  color: #fff;
}
