// Do not use dash(-). Instead, use underscore(_)
@import url("https://fonts.googleapis.com/css?family=Pacifico|Rock+Salt");

.container_initPage {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;
  a {
    text-decoration: none;
    color: white;
  }
}

// Make the fonts align center
.leftside,
.rightside {
  display: grid;
  justify-content: center;
  align-content: center;
}

.leftside {
  background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(255, 255, 225, 0.1)),
    url(../../images/Ozen_sushi_Logo.jpg);
  background-size: cover;
  background-position: center;
  padding: 1rem;
  transition: all 0.2s ease-in-out; // Animation
  height: 100%;

  &:hover {
    transform: scale(0.95);
  }
  h1 {
    font-family: "Rock Salt", cursive;
    font-size: 6rem;
    text-align: center;
  }
}

.rightside {
  background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(164, 222, 102, 0.1)),
    url(../../images/Ozen_korea_logo.jpg);
  background-size: cover;
  background-position: center;
  flex: 1;
  padding: 1rem;
  transition: all 0.2s ease-in-out; // Animation
  height: 100%;

  &:hover {
    transform: scale(0.95);
  }

  h1 {
    font-family: "Pacifico", cursive;
    font-size: 6rem;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .container_initPage {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);

    .leftside,
    .rightside {
      &:hover {
        transform: none;
      }
    }
  }
}
