@import "./common_module.scss";

.container {
  padding: 20px 100px;
  .section_2 {
    display: grid;
    margin: 0 auto;
    grid-gap: 50px;
    text-align: center;
    width: 50vw;

    .title {
      font-size: 2.8rem;
    }

    .info {
      display: grid;
      grid-gap: 50px;
      margin-bottom: 80px;
      .phone_number {
        display: block;
        margin: 0 auto;
        width: 100%;
        background-color: #ebebeb;
        font-size: 1.5rem;
      }

      .location {
        .googleMap {
          display: inline-block;
          padding-left: auto;
          padding-right: auto;
          width: 100%;
        }
        .address {
          div {
            display: block;
            font-size: 1.3rem;
            overflow: hidden;
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .container {
    grid-gap: 20px;
    margin-bottom: 100px;
    padding: 0 5px;

    .section_2 {
      padding: 0 2rem;
      width: 90vw;

      .title {
        font-size: 2rem;
      }
      .info {
        .phone_number {
          font-size: 1rem;
        }

        .location {
          .googleMap {
            width: 100%;
            height: 7rem;
          }
        }
      }
    }
  }
}
