@import "./common_module.scss";

.container {
  display: grid;
  grid-gap: 50px;
  // margin-bottom: 18rem;

  .section_1 {
    @include firstSectionBox(true);
  }

  .section_2 {
    display: grid;
    grid-gap: 20px;
    grid-template-rows: 2.5rem 2rem 2fr;
    text-align: center;
    padding: 0 10rem;

    .title {
      font-size: 2.8rem;
    }

    .phone_number {
      background-color: #ebebeb;
      font-size: 1.5rem;
    }

    .location {
      .googleMap {
        display: inline-block;
        padding-left: auto;
        padding-right: auto;
        width: 23rem;
      }
      .address {
        div {
          display: block;
          font-size: 1.3rem;
          overflow: hidden;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .container {
    grid-gap: 20px;
    .section_2 {
      padding: 0 3rem;

      .title {
        font-size: 2rem;
      }

      .phone_number {
        font-size: 1rem;
      }

      .location {
        .googleMap {
          width: 100%;
          height: 12rem;
        }
      }
    }
  }
}
