@import url("https://fonts.googleapis.com/css?family=Acme&display=swap");
@import "../variables";

nav {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: $black;
  padding: 10px;
  min-height: 35px;

  /*        Desktop         */

  ul.header__nav__ul {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 20px;
    justify-content: center;

    > li {
      margin: 4px;

      a {
        display: block;
        text-decoration: none;
        text-align: center;
        color: #d6d6d6;
        font-size: 2rem;

        .ozen_sushi_logo {
          height: 60px;
          width: 100px;
        }
      }

      a.ozen_korea {
        font-size: 1rem;
        margin-top: 2rem;
      }
    }

    > li > a:hover {
      height: 100%;
      border-bottom: 3px solid $ozen_sushi_yellow;
      transition-duration: 0.4s;
    }

    > li > #logo:hover {
      border-bottom: 0;
    }
    > li > a.ozen_korea:hover {
      border-bottom: 0;
    }
  }

  ul.header__nav__ul_mobile {
    display: none;
  }
}

// iPad
@media (min-width: 501px) and (max-width: 770px) {
  .ozen_sushi_logo {
    display: none;
  }

  ul.header__nav__ul > li > a {
    font-size: 2rem;
  }
}

/*      Mobile     */
@media (max-width: 500px) {
  nav {
    border-bottom: $ozen_sushi_yellow solid 5px;
    ul.header__nav__ul {
      display: none;
    }
    ul.header__nav__ul_mobile {
      display: grid;

      // Logo and Toogle Button
      .header__nav__ul_mobile__logo_toggleBtn {
        display: grid;
        grid-auto-flow: column;
        justify-content: space-between;

        .header__nav__ul_mobile__logo_toggleBtn__logo {
          > img {
            max-height: 80px;
            width: 130px;
          }
        }

        .header__nav__ul_mobile__logo_toggleBtn__toggleBtn {
          display: grid;
          background: unset;
          color: white;
          height: 50px;
          width: 50px;
          margin-top: 20px;
          border: $ozen_sushi_yellow 1px solid;

          > i {
            text-align: center;
          }
        }
      }

      // List Items
      .header__nav__ul_mobile__li {
        display: none;
        justify-content: center;
        grid-gap: 10px;

        li {
          width: 100px;
          text-align: center;

          a {
            color: white;
            font-size: 1.2rem;
          }

          a.ozen_korea {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}
