@import "./common_module.scss";

.container {
  display: grid;
  grid-gap: 50px;

  .section_1 {
    @include firstSectionBox(true);
  }

  .section_2 {
    display: grid;
    grid-gap: 20px;
    grid-template-rows: 2.5rem 2rem 2fr;
    text-align: center;
    padding: 0 10rem;

    .title {
      font-size: 2.8rem;
    }

    .phone_number {
      background-color: #ebebeb;
      font-size: 1.5rem;
    }
  }
}

@media (max-width: 500px) {
  .container {
    grid-gap: 20px;
    .section_2 {
      padding: 0 5rem;

      .title {
        font-size: 1.5rem;
      }

      .phone_number {
        font-size: 1rem;
      }
    }
  }
}
