@import "./common_module.scss";
@import "../variables";
@import url("https://fonts.googleapis.com/css?family=Acme&display=swap");

.footer {
  display: grid;
  padding: 2rem 20rem;
  background-color: #d1ccc0;
  // margin-top: 110px;
  grid-gap: 50px;

  .information {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;

    // Section 1 (Navigation List)
    .navList {
      font-size: 1rem;

      .OZen {
        font-size: 2rem;
      }
      .navList__ul {
        list-style: initial;
        margin-left: 1.5rem;
        max-width: 150px;
        .navList__ul__li {
          text-decoration: none;
          color: black;
          background-color: $ozen_sushi_yellow;

          > li:hover {
            border-radius: 5px;
            background-color: $ozen_sushi_yellow;
            transition-duration: 500ms;
          }
        }
      }
    }

    // Section 2 (Opening Hours)
    .openingHours {
      text-align: right;

      .title {
        font-size: 2rem;
      }
      .daysOfWeek {
        font-size: 1.5rem;
        font-weight: 800;
        font-family: "Roboto", sans-serif;
      }
      .operationTime {
        font-size: 1rem;
        font-family: "Roboto", sans-serif;
      }
    }
  }
  .copyRight {
    text-align: center;
    font-size: 1.2rem;
  }
}

/*    iPad Screen Size    */
@media (min-width: 501px) and (max-width: 800px) {
  .footer {
    padding: 1.5rem 7rem;

    .information {
      display: grid;
      grid-gap: 20px;
      .navList {
        font-size: 1.5rem;
        text-align: center;

        .OZen {
          font-size: 3rem;
        }
        .navList__ul {
          list-style: none;
          margin-left: 1.5rem;
        }
      }
    }
  }
}

/*  Smart Phone   */
@media (max-width: 500px) {
  .footer {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(1, 1fr);
    padding: 1.5rem;

    .information {
      display: grid;
      grid-auto-flow: row;
      grid-gap: 20px;
      grid-template-columns: repeat(1, 1fr);
      // grid-template-rows: repeat(auto-fit, 1fr);

      /* Section 1 (Navigation List) */
      .navList {
        display: none;
      }

      /* Section 2 (Opening Hours) */
      .openingHours {
        text-align: center;

        .title {
          font-size: 1.5rem;
        }
        .daysOfWeek {
          // display: inline-block;
          font-size: 1.3rem;
          font-weight: 800;
          font-family: "Roboto", sans-serif;
        }
        .operationTime {
          // display: inline-block;
          font-size: 1rem;
          font-family: "Roboto", sans-serif;
        }
      }
    }
    .copyRight {
      text-align: center;
      font-size: 0.8rem;
    }
  }
}
