@import "./common_module.scss";
@import "../variables";

.section_1 {
  display: grid;
  padding: 0 5rem;
  grid-gap: 20px;

  .title {
    font-size: 3rem;
    text-align: center;
  }

  .category {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax(max-content, 1fr);
    text-align: center;
    background-color: #ebebeb;
    font-size: 1.5rem;

    a {
      text-decoration: unset;
      color: black;
      padding: 0.5rem;
      cursor: default;

      &:hover {
        background-color: black;
        transition-duration: 900ms;
        color: #ebebeb;
      }
    }
  }

  .photos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 200px;
    grid-gap: 20px;
    // The height of each row is 250px
  }
}

/*    iPad Screen   */
@media (min-width: 501px) and (max-width: 780px) {
  .section_1 {
    padding: 0 5rem;

    .photos {
      height: 300px;
    }
  }
}

/*    Mobile Screen   */
@media (max-width: 500px) {
  .section_1 {
    padding: 0 3rem;

    .moreMenu {
      font-size: 0.9rem;
    }
    .title {
      font-size: 2rem;
    }

    .category {
      display: grid;
      text-align: center;
      grid-template-columns: repeat(2, 1fr);
      font-size: 0.8rem;
    }

    .photos {
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      grid-auto-rows: 100px;
      grid-gap: 5px;
      width: 100%;
      // The height of each row is 100px;
    }
  }
}
