@import url("https://fonts.googleapis.com/css?family=Acme&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import "./common_module.scss";
@import "../variables";

.container {
  display: grid;
  grid-gap: 50px;
}

.section_1 {
  position: relative;
  margin: 0 40px 0 40px;
  @include firstSectionBox(false);

  .letters {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 3rem;
    font-size: 4rem;
    span {
      color: $ozen_sushi_yellow;
    }
  }
}

/*  section 2 */
.section_2 {
  display: grid;
  min-height: 400px;
  margin: 20px 40px;

  .section_2__img {
    width: 100%;
    height: 100%;
    // box-shadow: 17px 21px 28px -15px rgba(0, 0, 0, 0.66);
  }
}

.section_3 {
  display: grid;
  grid-template-areas:
    "top top top"
    "mid_first mid_second mid_second"
    "bottom bottom bottom";
  grid-gap: 30px;
  padding: 20px 60px;
  border-top: 3px solid $dark;
  border-bottom: 3px solid $dark;

  .top {
    grid-area: top;
    .OZen {
      font-size: 6rem;
    }
    .korean_japanese {
      display: inline-block;
      font-size: 3rem;
    }
  }

  .mid_first {
    grid-area: mid_first;
    img {
      width: 100%;
      height: 30rem;
    }
  }

  .mid_second {
    grid-area: mid_second;
    img {
      height: 30rem;
    }
  }

  .bottom {
    grid-area: bottom;
    position: relative;
    min-height: 200px;
    background-color: $black;

    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 3rem;

    .bottom__link {
      color: $white;
      text-decoration: unset;
    }

    &:hover {
      background-color: $ozen_sushi_yellow;
      transition-duration: 500ms;

      .bottom__link {
        color: white;
      }
    }
  }
}

.section_4 {
  display: grid;
  grid-gap: 30px;

  .section_4__top {
    font-size: 4rem;
    text-align: center;
  }

  .section_4__row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 300px;
    color: $white;

    .right_justify {
      justify-content: right;
      text-align: right;
    }

    .section_4__row__menu {
      display: grid;
      background-color: $black;
      padding: 2rem 3rem;
      &:hover {
        background-color: $ozen_sushi_yellow;
        transition-duration: 500ms;

        .menu__price {
          color: black;
        }
      }

      a {
        display: grid;
        text-decoration: unset;
        color: white;
        .menu__name {
          font-size: 2.5rem;
        }
        .menu__detail {
          font-size: 1.5rem;
        }
        .menu__price {
          color: $ozen_sushi_yellow;
          font-size: 2rem;
          position: relative;
        }
      }
    }

    .section_4__row__menu_photo {
      display: grid;
      background-color: $ozen_sushi_yellow;
      img {
        height: 100%;
        width: 100%;
      }
    }
  }
}

.section_5 {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  grid-gap: 20px;
}

/*  Smart Phone   */
@media (max-width: 500px) {
  .section_1 {
    margin: 0;
    min-height: 15rem;
    .letters {
      position: absolute;
      bottom: 0;
      right: 0;
      margin-right: 10px;
      font-size: 2rem;
      span {
        color: $ozen_sushi_yellow;
      }
    }
  }

  .section_2 {
    margin: 0;
    min-height: 15rem;
  }

  .section_3 {
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
      "top"
      "mid_first"
      "mid_second"
      "bottom";

    padding: 10px;

    .top {
      .OZen {
        font-size: 2.5rem;
      }
      .korean_japanese {
        font-size: 1.3rem;
      }
    }

    .mid_first,
    .mid_second {
      img {
        height: 10rem;
      }
    }

    .bottom {
      display: none;
    }
  }

  .section_4 {
    .section_4__top {
      font-size: 2rem;
    }
    .section_4__row {
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: 1fr;
      text-align: center;
      .right_justify {
        text-align: center;
      }

      .section_4__row__menu {
        a {
          .menu__name {
            font-size: 1.5rem;
          }

          .menu__detail,
          .menu__price {
            font-size: 1rem;
          }
        }
      }
    }
  }

  .section_5 {
    > a > img {
      max-width: 100px;
    }
  }
}
