@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import "./common_module.scss";

.container {
  @include container();
  height: 190vh;
  grid-template-rows: 70vh 70vh;

  .first_section {
    // firstSectionBox() comes from common_module.scss in the same directory.
    // @include firstSectionBox();
    opacity: 0.5;
  }

  .second_section {
    display: grid;
    grid-auto-flow: row;
    height: 115vh;
    justify-content: center;
    background-color: #ebebeb;
    @include Ozen_Font(5em, 400);
    @include Korean_And_Japanese_Font(3em, 300);

    .second_section__box {
      display: grid;
      grid-auto-flow: row;
      grid-template-rows: 15vh 58vh 30vh;
      background-color: white;
      width: 50vw;
      padding: 10px 50px 0 50px;

      .photo {
        background-image: url("../../images/about_ozen_sushi.png");
        background-repeat: no-repeat;
        width: 100%;
      }

      .paragraphs {
        font-size: 1.3rem;
        font-family: "Roboto", sans-serif;
      }
    }
  }
}
